{% extends 'veb_site/base_veb.html' %}


{% block content %}
    <div class="m_works">
        <div style="float: left; width: 10%;">
            <strong style="font-size:80%">УСПЕХ ЛЮБОГО СТРОИТЕЛЬНОГО ПРОЕКТА НА 
            50% ЗАВИСИТ ОТ КАЧЕСТВЕННОГО ПРОЕКТИРОВАНИЯ.</strong>
            <form action="{% url 'feedback_url' %}" method="get">
                <div style="padding-top:10px">
                    <button type="submit" class="btn btn-success">Заявка на услугу</button>
                </div>
            </form>
        </div>

        {% if design %}
        <div style="float: right; width: 89%;">
            <h2>ПРОЕКТНЫЕ РАБОТЫ</h2>
            <h5>Для комплексного решения задач, связанных с проектированием и строительством, 
            в структуре Общества создано крупное проектное подразделение, 
            которое располагает высококвалифицированными специалистами с многолетним опытом работы и 
            большим количеством успешно реализованных проектов, современной вычислительной техникой и 
            программно - аппаратными средствами.</h5>

            <p>Это позволяет  Обществу на самом высоком уровне выполнять функции  технического заказчика, 
            включая полный комплекс услуг по организации проектирования и инженерных изысканий, 
            согласованию проектов на любой стадии разработки, а также организацию генподрядных работ и 
            осуществление  авторского надзора, обеспечение успешного прохождения государственной или 
            ведомственной экспертизы.</p>

            <h4>В состав оказываемых услуг входят:</h4> 

            <ol>
                <li class="li_out">Выполнение комплекса работ по сбору исходных данных для проектирования.</li>

                <li class="li_out">Работы по обследованию строительных конструкций зданий и сооружений.</li>

                <li class="li_out">Выполнение проектных работ по промышленным и жилищно-гражданским сооружениям, 
                    а также по инженерным сетям и системам:
                    <ol>
                        <li class="li_in">архитектурное проектирование;</li>
                        <li class="li_in">строительное проектирование и конструирование;</li>
                        <li class="li_in">системы электроснабжения и электропитания;</li>
                        <li class="li_in">системы водо- и теплоснабжения;</li>
                        <li class="li_in">вентиляция и кондиционирование.</li>
                    </ol>
                </li>
                <li class="li_out">Выполнения проектных работ по объектам связи и автоматизации:
                    <ol>
                        <li class="li_in">проектирование линейно-кабельных сооружений (в т.ч. ВОЛС);</li>
                        <li class="li_in">первичные сети электросвязи (SDH, xWDM);</li>
                        <li class="li_in">тактовая сетевая синхронизация сетей;</li>
                        <li class="li_in">сети подвижной радиосвязи;</li>
                        <li class="li_in">сети широкополосного абонентского проводного и беспроводного доступа;</li>
                        <li class="li_in">радиорелейные линии связи;</li>
                        <li class="li_in">сети спутниковой связи;</li>
                        <li class="li_in">системы сотовой подвижной электросвязи;</li>
                        <li class="li_in">системы цифрового эфирно-кабельного телевидения, в том числе IPTV;</li>
                        <li class="li_in">системы видеоконференцсвязи;</li>
                        <li class="li_in">автоматические междугородные, городские телефонные станции;</li>
                        <li class="li_in">сети оперативной диспетчерской электросвязи;</li>
                        <li class="li_in">корпоративные и локальные вычислительные сети;</li>
                        <li class="li_in">структурированные кабельные сети;</li>
                        <li class="li_in">системы пожарной сигнализации;</li>
                        <li class="li_in">системы оповещения о пожаре;</li>
                        <li class="li_in">системы управления установками дымоудаления;</li>
                        <li class="li_in">системы охранной сигнализации;</li>
                        <li class="li_in">системы охраны входов (домофоны, видеодомофоны);</li>
                        <li class="li_in">системы автоматизации и диспетчеризации.</li>
                    </ol>
                </li>
                <li class="li_out">Выполнение комплекса специальных разделов проектной документации:
                    <ol>
                        <li class="li_in">охрана окружающей среды;</li>
                        <li class="li_in">мероприятия по рекультивации нарушенных земель;</li>
                        <li class="li_in">системы защиты информации;</li>
                        <li class="li_in">мероприятия по обеспечению соблюдения требований энергетической эффективности;</li>
                        <li class="li_in">расчет санитарно-защитной зоны и зоны ограничения;</li>
                        <li class="li_in">мероприятия по обеспечению пожарной безопасности;</li>
                        <li class="li_in">мероприятия по гражданской обороне, предупреждению чрезвычайных ситуаций природного и 
                        <li class="li_in">техногенного характера;</li>
                        <li class="li_in">мероприятия по обеспечению промышленной безопасности;</li>
                        <li class="li_in">мероприятия по ликвидации возможных аварий при строительстве и эксплуатации объекта;</li>
                        <li class="li_in">проект организации строительства;</li>
                        <li class="li_in">сметная документация.</li>
                    </ol>
                </li>
                <li class="li_out">Проектирование воздушных линий электропередач 35-220 кВ.</li>

                <li class="li_out">Проектирование подстанций 35-220кВ.</li>
            </ol>

            <p>Наша задача - разработка проектно-сметной документации, 
            максимально отвечающей требованиям заказчика и соответствующей всем нормативным требованиям.</p>

            <p>Мы имеем допуски СРО к проведению всех видов проектных работ.</p>      
        
        </div>
        {% endif %}

        {% if building %}
            <div style="float: right; width: 89%;">
                <h2>СТРОИТЕЛЬНО-МОНТАЖНЫЕ РАБОТЫ</h2>

                <h5>В виды производимых работ, входят:</h5>
                    
                <ol>
                    <li class="li_out">Строительные работы по реконструкции и капитальному ремонту зданий и сооружений, 
                    по устройству инженерных сетей теплоснабжения, электроснабжения, водоснабжения, канализации и 
                    вентиляции;</li>

                    <li class="li_out">Полный комплекс работ по осуществлению строительного контроля при строительстве объекта;</li>

                    <li class="li_out">Ведение исполнительной документации;</li>

                    <li class="li_out">Участие в работе приемочных комиссий при вводе объектов в эксплуатацию.</li> 
                        
                </ol>
            </div>
        {% endif %}

        {% if expertise %}
            <div style="float: right; width: 89%;">
                <h2>ЭКСПЕРТИЗА</h2>

                <h3></h3>
                    
                <ol>
                    <li class="li_out">Строительные работы по реконструкции и капитальному ремонту зданий и сооружений, 
                    по устройству инженерных сетей теплоснабжения, электроснабжения, водоснабжения, канализации и 
                    вентиляции;</li>

                    <li class="li_out">Полный комплекс работ по осуществлению строительного контроля при строительстве объекта;</li>

                    <li class="li_out">Ведение исполнительной документации;</li>

                    <li class="li_out">Участие в работе приемочных комиссий при вводе объектов в эксплуатацию.</li> 
                        
                </ol>
            </div>
        {% endif %}

    </div>
{% endblock %}


{% block content_basement %}
    {{ content_basement }}
{% endblock %}